.search-box {
    width: 240px;
    padding: 12px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #f3f3f4;
  }
  
  .search-input {
    border: none;
    background: transparent;
    font-feature-settings: "liga" off, "clig" off;
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .search-icon {
    width: 17px;
    height: 17px;
    object-fit: contain;
  }